@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "uchen";
  src: url("../public/fonts/TitilliumWeb-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "uchen";
  src: url("../public/fonts/TitilliumWeb-Bold.ttf");
  font-weight: bold;
}

html{
  scroll-behavior: smooth;
}

.bg-gradient-dark {
  background: linear-gradient(to right, rgb(251, 113, 133), rgb(217, 70, 239), rgb(99, 102, 241))
}

.bg-gradient-light{
  background-image: linear-gradient(to top, #c7d2fe, #cfd2ff, #d8d2ff, #e0d1ff, #e9d1ff, #f3d0f7, #fad0ef, #ffd0e7, #ffd4d9, #ffddca, #ffeac1, #fef9c3);
}

input:focus,
textarea:focus {
  outline: none !important;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  @apply bg-indigo-300 rounded-md
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.show{
  animation: show 1s ease-in-out;
}

@keyframes show {
  0%{
    opacity: 0;
    transform: scale(0);
  }
}

.pulse{
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.4);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}